.hobbies {
  min-height: 100vh;
  padding: 40px;
  text-align: center;
  background-color: #f2f6ff;
}

.hobbies h1 {
  color: #222;
  margin-bottom: 30px;
  font-size: 35px;
}

.hobby-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.hobby-card {
  width: 250px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 10px #aaa;
}

.hobby-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.hobby-card h2 {
  color: #2563eb;
  margin: 15px 10px 10px;
  font-size: 20px;
}

.hobby-card p {
  color: #555;
  padding: 0 15px 20px;
  line-height: 1.5;
}